/*virtual*/
:root{
    --animation-time: 1s;
}

*{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

html,body{
    background-color:#111;
    height: 100%;
}
.container{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    border:0px solid green;
}

#time-field{
    width: 100%;
    text-align: center;
    padding: 1.5vw 2vw 1.5vw 2vw;
    border:2px solid rgb(235, 235, 235);
    border-left-style:none;
    border-right-style:none;
    box-shadow:0 0 0.3vw #fff;
}

.time{
    display:inline-block;
    width:1em;
    font-size:3vw;
    color:#FFF;
    text-align: center;
    text-shadow: 0 0 0.5em white;
}

.flicker-s{
    -webkit-animation: flicker 3s linear infinite;
    -moz-animation: flicker 3s linear infinite;
    animation: flicker 3s linear infinite;
}
.flicker-r{
    -webkit-animation: flicker var(--animation-time) linear infinite;
    -moz-animation: flicker var(--animation-time) linear infinite;
    animation: flicker var(--animation-time) linear infinite;
}
.flicker-f{
    -webkit-animation: flicker 2s linear infinite;
    -moz-animation: flicker 2s linear infinite;
    animation: flicker 2s linear infinite;
}

@keyframes glow{
    0%{
        text-shadow:0 0 1px #fff,
                    0 0 3px #fff;
    }
    2%{
        text-shadow:0 0 1px #fff,
                    0 0 5px #fff,
                    0 0 10px #fff;
    }
    50%{
        text-shadow:0 0 1px #fff,
                    0 0 5px #fff;
    }
    100% {
        text-shadow:0 0 1px #fff,
                    0 0 3px #fff;
    }
}  

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: .99;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
    }
}
